# Project exclude paths
/.gradle/
/Problems/Alphabetical order/out/
/Problems/Alphabetical order/out/production/classes/
/Problems/Boxes/out/
/Problems/Boxes/out/production/classes/
/Problems/Check if an array contains two numbers/out/
/Problems/Check if an array contains two numbers/out/production/classes/
/Problems/Check if an array is sorted ascending/out/
/Problems/Check if an array is sorted ascending/out/production/classes/
/Problems/Count how many times a number occurs/out/
/Problems/Count how many times a number occurs/out/production/classes/
/Problems/Cutting out the middle of a string/out/
/Problems/Cutting out the middle of a string/out/production/classes/
/Problems/Cyclically shifting elements/out/
/Problems/Cyclically shifting elements/out/production/classes/
/Problems/Find the first occurrence of the word  the/out/
/Problems/Find the first occurrence of the word  the/out/production/classes/
/Problems/Generating passwords/out/
/Problems/Generating passwords/out/production/classes/
/Problems/Move the first N characters/out/
/Problems/Move the first N characters/out/production/classes/
/Problems/Piece of alphabet/out/
/Problems/Piece of alphabet/out/production/classes/
/Problems/Right Rotation/out/
/Problems/Right Rotation/out/production/classes/
/Problems/Sum of neighbors/out/
/Problems/Sum of neighbors/out/production/classes/
/Problems/Swap the columns/out/
/Problems/Swap the columns/out/production/classes/
/Problems/The longest word/out/
/Problems/The longest word/out/production/classes/
/Problems/The percentage of G and C characters/out/
/Problems/The percentage of G and C characters/out/production/classes/
/Problems/The star figure/out/
/Problems/The star figure/out/production/classes/
/Problems/The sum of array elements/out/
/Problems/The sum of array elements/out/production/classes/
/Tic-Tac-Toe/task/build/
/Tic-Tac-Toe/task/out/
/Tic-Tac-Toe/task/out/production/classes/